<!DOCTYPE html> 
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= header %></title>
        
        <script src="https://kit.fontawesome.com/b2ec1cb26d.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&family=Montserrat:wght@100;300;400;700&family=Poppins:wght@100;300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/login.css">
    </head>
    <body>
        <div class="container-full">
            <div class="row">
                <div class="col-lg-6 text-center align-content-center" id="info">
                    <div style="margin-top: 25%">
                        <h1 class="text-center"><i class="fas fa-map-marked-alt fa-3x"></i> <br> Territory Manager</h1>
                        <h4 class="text-center">I zarządzanie terenami staje się o wiele prostsze</h4>
                    </div>
                    
                </div>