<%- include("../partials/header") %>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <%- include("../partials/territory", {territory: territory, show: ''}) %>
    </div>
</div>

<%- include("../partials/footer") %>