

body {
    font-family: 'Montserrat', sans-serif;
    background: #ece9e9;
}

.my_nav {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px 64px;
    background: white;
}

.my_nav ul {
    list-style-type: none;
    margin: 0 auto;
}

.my_nav-item {
    display: inline-block;
    text-align: center;
}

.my_nav-item:not(:last-child) {
    margin-right: 20px;
}
.my_nav-link {
    font-weight: 400;
    font-size: 20px;
    color: #B3A8A8;
    text-align: center;
    text-decoration: none;
}

.my_nav-link.my_active {
    color: #28a745;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.preachers-buttons {
    margin-bottom: 10px;
}

.card {
    margin-bottom: 90px;
}
.card.city {
    background: #f6edd9;
}

.card.village {
    background: #e1f1ff;
}

.card.market {
    background: white;
}

.card.noPhysical {
    border: 3px solid #9999CC;
}

.territory-section {
    font-size: 28px;
    font-weight: 700;
    margin: 15px 0;
}
h1 {
    color: #28a745;
    font-size: 35px;
    font-weight: 700;
    margin-top: 20px;
}

h4 {
    color: #28a745;
    font-size: 22px;
    font-weight: 400;
}

.btn-golden {
    background: #f6b26b;
    border-color: #f6b26b;
  }

#name {
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.info {
    color: black;
    font-weight: 400;
    font-size: 19px;
}

.login {
    color: #28a745;
    font-size: 35px;
}

.details-item {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.details-item:hover {
    cursor: pointer;
    background: #28a745;
    color: white;
    padding: 4px 8px;
}

.territory-navigation {
    display: flex;
    justify-content: space-between;
}

.territory-navigation a {
    font-size: 19px;
    text-decoration: none;
}


input[type=search] {
    
    color: #28a745;
}

.form-control:focus {
    box-shadow: none;
    border-color: #28a745;
}

input[type=search]::placeholder {
    color: #28a745;
}


@media (max-width: 572px) {
    body {
        padding-bottom: 70px;
    }
    .my_nav {
        padding: 10px 5px;
        margin-top: 10px;
    }

    nav.my_nav.fixed-bottom ul {
        padding-left: 0px;
    }

    .my_nav-item:not(:last-child) {
        margin-right: 7px;
    }

    .my_nav-link {
        font-size: 17px;
    }
    .card {
        margin-bottom: 20px;
    }
}